<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/bootstrap-3.3.7-dist/css/bootstrap.css" />
    <link rel="stylesheet" href="/static/bootstrap-3.3.7-dist/css/bootstrap-theme.css" />
{#    <link rel="stylesheet" href="/static/Font-Awesome-master/css/font-awesome.css" />#}

        {% block css %}{% endblock %}

</head>
<body style="min-width: 800px">

    {% block body %}{% endblock %}

    <script src="/static/jquery-1.12.4.js"></script>
    <script src="/static/bootstrap-3.3.7-dist/js/bootstrap.js"></script>

    {% block script %}{% endblock %}
</body>
</html>