{% load time_utc %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/plugins/bootstrap/css/bootstrap.css"/>
    <link rel="stylesheet" href="/static/plugins/font-awesome/css/font-awesome.css"/>
    <link rel="stylesheet" href="/static/css/edmure.css"/>
    <link rel="stylesheet" href="/static/css/commons.css"/>
    <link rel="stylesheet" href="/static/css/row-avatar.css"/>
    <style>
{#        .pagination .page{#}
{#            display: inline-block;#}
{#            padding: 5px;#}
{#            background-color: cyan;#}
{#            margin: 5px;#}
{#        }#}
        .pagination .active{
            background-color: gold;
            color: white;
        }
    </style>

</head>
<body>
<nav class="navbar navbar-default" role="navigation">
    <div class="container">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/" style="margin-right: 88px">鑫哥的技术博客</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="/">全部</a></li>
                <li><a href="/python/">Python</a></li>
                <li><a href="/Linux/">Linux</a></li>
                <li><a href="/GoLang/">GoLang</a></li>
                <li><a href="/Scrapy/">Scrapy</a></li>
                {#                    <li><a href="#">OpanStack</a></li>#}
            </ul>

            <ul class="nav navbar-nav navbar-right">
                {{ top }}
                <!--加一个消息提示的部件-->

            </ul>
        </div>
    </div>
</nav>
<div style="position: relative;min-width: 800px">
    <div class="col-md-4" style="width: 300px;position: absolute;left: 0;top: 0">
            <div class="panel panel-default hot-recommend">
                <div class="panel-heading">吐血推荐</div>
                <div class="panel-body">
                    <ul class="list-unstyled">
                        <li>Lorem ipsum dolor sit amet</li>
                        <li>Consectetur adipiscing elit</li>
                        <li>Integer molestie lorem at massa</li>
                        <li>Facilisis in pretium nisl aliquet</li>
                        <li>Nulla volutpat aliquam velit</li>
                        <li>Faucibus porta lacus fringilla vel</li>
                        <li>Aenean sit amet erat nunc</li>
                        <li>Eget porttitor lorem</li>
                    </ul>
                </div>
            </div>
            <div class="panel panel-default hot-comment">
                <div class="panel-heading">评论最多</div>
                <div class="panel-body">
                    <ul class="list-unstyled">
                        <li>Lorem ipsum dolor sit amet</li>
                        <li>Consectetur adipiscing elit</li>
                        <li>Integer molestie lorem at massa</li>
                        <li>Facilisis in pretium nisl aliquet</li>
                        <li>Nulla volutpat aliquam velit</li>
                        <li>Faucibus porta lacus fringilla vel</li>
                        <li>Aenean sit amet erat nunc</li>
                        <li>Eget porttitor lorem</li>
                    </ul>
                </div>
            </div>

        </div>

    <div class="container" style="position: absolute;left: 300px;top: 0;right: 0">
    <div>
        <div class="col-md-8">

            {% for i in article_obj %}
            <div class="article-list">
                <div class="article-item clearfix">
                    <h3><a href="{{ i.author.username }}-{{ i.id }}" target="_blank">{{ i.title }}</a>
                        <small> - {{ i.category.classification_name }}</small>
                    </h3>
                    <div class="clearfix">
                        <a class="avatar left">
                            <img src={{ i.author.user_img }}>
                        </a>
                        {{ i.abstract }}
                    </div>
                    <div class="footers">
                        <a href="/{{ i.author.username }}/all.html">
                            <i class="fa fa-user-o" aria-hidden="true"></i>
                            <span>{{ i.author.username }}</span>
                        </a>
                        <span>发布于 {% change i.release_date %}</span>
                        <a href="{{ i.author.username }}-{{ i.id }}" target="_blank" class="ele">
                            <i class="fa fa-commenting-o" aria-hidden="true"></i>
                            <span>{{ i.comm123 }}</span>
                        </a>
                        <a href="{{ i.author.username }}-{{ i.id }}" target="_blank" class="ele">
                            <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
                            <span>{{ i.fabulous }}</span>
                        </a>
                    </div>

                </div>
            </div>
            {% endfor %}

            <div class="clearfix">

                <ul class="pagination">
                    {{ page_str }}
                </ul>

            </div>

        </div>

    </div>
</div>
</div>

<script type="text/javascript" src="/static/js/jquery-1.12.4.js"></script>
<script type="text/javascript" src="/static/plugins/bootstrap/js/bootstrap.js"></script>
</body>
</html>