{% extends 'base_home.html' %}
{% block body %}
	<h3 class="common_title">确认收货地址</h3>

	<div class="common_list_con clearfix">
		<dl>
			<dt>寄送到：</dt>
            {% if addr %}
			    <dd id="uaddr"><input type="radio" checked="">{{ addr.uaddress }} （{{ addr.ureceiver }} 收） {{ addr.uphone }}</dd>
			{% else %}
                <dd id="uaddr"><input type="radio" checked="">你还没有设置默认地址！</dd>
            {% endif %}
		</dl>
		<a href="user_center_site.html" class="edit_site">编辑收货地址</a>

	</div>
	
	<h3 class="common_title">支付方式</h3>	
	<div class="common_list_con clearfix">
		<div class="pay_style_con clearfix">
			<input type="radio" name="pay_style" checked>
			<label class="cash">货到付款</label>
			<input type="radio" name="pay_style">
			<label class="weixin">微信支付</label>
			<input type="radio" name="pay_style">
			<label class="zhifubao"></label>
			<input type="radio" name="pay_style">
			<label class="bank">银行卡支付</label>
		</div>
	</div>

	<h3 class="common_title">商品列表</h3>
	
	<div class="common_list_con clearfix">
		<ul class="goods_list_th clearfix">
			<li class="col01">商品名称</li>
			<li class="col02">商品单位</li>
			<li class="col03">商品价格</li>
			<li class="col04">数量</li>
			<li class="col05">小计</li>		
		</ul>

		<ul class="goods_list_td clearfix" id="{{ obj.id }}">
			<li class="col01">1</li>
			<li class="col02"><img src="/static/{{ obj.fpic }}"></li>
			<li class="col03">{{ obj.ftitle }}</li>
			<li class="col04">{{ obj.funit }}</li>
			<li class="col05">{{ obj.fprice }}元</li>
			<li class="col06">{{ num }}</li>
			<li class="col07">25.80元</li>   {# 小计 #}
		</ul>

	</div>

	<h3 class="common_title">总金额结算</h3>

	<div class="common_list_con clearfix">
		<div class="settle_con">
			<div class="total_goods_count">共<em id="nums">2</em>件商品，总金额<b id="total">42.60元</b></div>
			<div class="transit">运费：<b>10元</b></div>
			<div class="total_pay">实付款：<b id="total_pay">52.60元</b></div>
		</div>
	</div>

	<div class="order_submit clearfix">
		<a href="javascript:;" id="order_btn">提交订单</a>
	</div>	



	<div class="popup_con">
		<div class="popup">
			<p>订单提交成功！</p>
		</div>
		
		<div class="mask"></div>
	</div>
{% endblock %}
{% block script %}
	<script>
        $(function () {
            total()
        });
        function total() {
            var num_all = 0;
            var price_all = 0;
            $(".col07").each(function () {

                var num = parseInt($(this).prev().text());
                num_all += num;    //计算商品总数
                var price = parseFloat($(this).prev().prev().text());
                var total = num*price;
                price_all += total;     // 计算商品总价
                var total2 = total.toFixed(2);
                $(this).text(total2)
            });
            $("#total").text(price_all.toFixed(2)+'元');
            $("#nums").text(num_all);
            var pay_all = price_all + 10;     // 加10元运费
            pay_all2 = pay_all.toFixed(2);
            $("#total_pay").text(pay_all2+'元')
        }
		$('#order_btn').click(function() {      // 订单提交成功页面
            var uaddr = $("#uaddr").text();
            if (uaddr != '你还没有设置默认地址！'){
                $.ajax({
                url:'/order/handler2/',
                type:'POST',
                dataType: 'JSON',       // 每次后端发送的都是字典转成的字符串，每次都要转码太麻烦，所以写上这个ajax内部就帮我们转码
                traditional: true,      // 传输列表[1,2,3,4]时要写上
                data:{'goods_id':{{ obj.id }},'uaddr':uaddr,'num':'{{ num }}'},     // 获取购物车id
                success:function (dat) {
                    if(dat){
                    localStorage.setItem('order_finish',2);

                    $('.popup_con').fadeIn('fast', function() {

                        setTimeout(function(){
                            $('.popup_con').fadeOut('fast',function(){
                                window.location.href = '/user/order/0-0-1.html';
                            });
                        },3000)

                    });
                }else{
                        alert('订单发生错误！')
                    }
            }}
            );
            }else {
                alert('请先设置默认地址！')
            }

		});
	</script>
{% endblock %}
