{% extends 'base_home.html' %}

{% block body %}
	<div class="main_con clearfix">
		<div class="left_menu_con clearfix">
			<h3>用户中心</h3>
			<ul>
				<li><a href="/user/info/">· 个人信息</a></li>
				<li><a href="/user/order/0-0-1.html/">· 全部订单</a></li>
				<li><a href="/user/site/" class="active">· 收货地址</a></li>
			</ul>
		</div>
		<div class="right_content clearfix">
				<h3 class="common_title2">收货地址</h3>
				<div class="site_con">
					<dl>
						<dt>当前地址：</dt>
                        {% if currentaddr %}
						    <dd>{{ currentaddr.uaddress }} （{{ currentaddr.ureceiver }} 收） {{ currentaddr.uphone }}</dd>
                        {% else %}
                            <dd>你还没有设置默认收货地址！</dd>
                        {% endif %}
                        {% if addrs_list %}
                            <dt>其他收货地址：</dt>
                            {% for addr in addrs_list %}
                                <dd>{{ addr.uaddress }} （{{ addr.ureceiver }} 收） {{ addr.uphone }}</dd>
                            {% endfor %}
                        {% endif %}
					</dl>
				</div>
				<h3 class="common_title2">编辑地址</h3>
				<div class="site_con">
					<form id="addr_form">
                        {% csrf_token %}
						<div class="form_group">
							<label>收件人：</label>
							<input type="text" name="ureceiver">
                            <span id='error_receiver' style="color: red"></span>
						</div>
						<div class="form_group form_group2">
							<label>详细地址：</label>
							<textarea class="site_area" name="uaddress"></textarea>
                            <span id='error_address' style="color: red"></span>
						</div>
						<div class="form_group">
							<label>手机：</label>
							<input type="text" name="uphone">
                            <span id='error_phone' style="color: red"></span>
						</div>

						<input type="button" name="" value="提交" class="info_submit">
					</form>
				</div>
		</div>
	</div>

{% endblock %}
{% block script %}
    <script>
        $(".info_submit").click(function () {
            $.ajax({
                url:'/user/site/',
                type:'POST',
                data:$("#addr_form").serialize(),
                dataType:'JSON',
                success:function (data) {
                    if(data.status){
                        location.reload()
                    }else {
                        if(data.error_receiver){
                            $("#error_receiver").text(data.error_receiver)
                        }if(data.error_address){
                            $("#error_address").text(data.error_address)
                        }if(data.error_phone){
                            $("#error_phone").text(data.error_phone)
                        }
                    }
                }
            })
        })
    </script>
{% endblock %}